*{
    body{
        margin: 0px;
        padding: 0px;
    }
}
header{
    background-color: orangered;
    color: white;
    text-align: center;
    padding: 10px;
}
section{
    display: grid;
    grid-template-columns: 1fr 2fr;
}
li{
    background-color: orangered; 
    margin: 20px;
    height: 30px;
    list-style: none;
    padding-top: 10px;
    border-radius: 10px;
}
a{
  text-decoration: none;
  color: white;
  padding-left: 20px;
 
}
.box{
    padding-left: 20%;
    text-align: justify;
}
img{
    width: 100%;
    height: 300px;
}